html {
    background-color: black;
    text-align: center;
}

body {
    font-family: Verdana, sans-serif;
    color: white;
    margin: auto;
    width: 1300px;
}

.content1 {
    display: flex;
    flex-direction: column;
}

.discover {
    font-size: 50px;
    padding-top: 20px;
}

a {
    color: aquamarine;
    font-size: 16px;
    padding-top: 25px;
}

video {
    padding-top: 20px;
}

.camp {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 42px;
    font-weight: 300;
    padding-top: 50px;
}

.description {
    font-size: 21px;
    color: gray;
    padding-top: 20px;
}

.camp {
    padding-top: 20px;
    margin: auto;
}

.phone {
    padding-top: 30px;
    margin: auto;
}

.coming-soon {
    padding-top: 40px;
    font-size: 42px;
}

footer {
    padding-top: 25px;
    color: gray;
    text-align: right;
    font-size: 24px;
}
